[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fbnet"]
	path = fbnet
	url = https://github.com/marsicofl/fbnet
[submodule "forensIT"]
	path = forensIT
	url = https://github.com/cran/forensIT
[submodule "mispitools"]
	path = mispitools
	url = https://github.com/marsicofl/mispitools
