[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fbnet"]
	path = fbnet
	url = https://github.com/marsicofl/fbnet
[submodule "forensicolors"]
	path = forensicolors
	url = https://github.com/marsicofl/forensicolors
[submodule "mispitools"]
	path = mispitools
	url = https://github.com/marsicofl/mispitools
